@{
    ViewData["Title"] = "Home Page";
}
<div class="card mb-2 border-0">
    <div class="row g-0 justify-content-center border-bottom">
        <div class="col-md-5">
            <div class="card-body d-flex flex-column justify-content-center">
                <h1 class="card-title">
                    Professional<br />
                    scheduling<br />
                    made easy
                </h1>
                <p class="card-text">
                    Doodle is the fastest and easiest way to<br /> schedule anything —
                    <br />from meetings to the next great collaboration.
                </p>
                <a class="btn btn-success py-3" asp-controller="Account" asp-action="Signup">
                    Try it free
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <p class="card-text text-center mt-3"><small class="text-body-secondary">No credit card
                        required.</small></p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="~/images/image1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 mb-2 mt-2 text-center">
            <i class="fa-solid fa-house text-primary"></i>
            <p class="mb-2">Trusted by 70,000+ <br /> companies.</p>
        </div>
        <div class="col-md-3 text-center">
            <i class="fa-solid fa-calendar-days text-secondary"></i>
            <p class="mb-2">2+ million meetings scheduled <br /> last month</p>
        </div>
        <div class="col-md-3 text-center">
            <i class="fa-solid fa-lock text-success"></i>
            <p class="mb-2">Enterprise-level <br /> security.</p>
        </div>
        <div class="col-md-3 text-center">
            <i class="fa-solid fa-clock text-warning"></i>
            <p class="mb-2">Start taking appointments in 5 <br /> minutes</p>
        </div>
    </div>
</div>

<div class="card" style="background-color: #0E3830;">
    <div class="row g-0 d-flex justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title display-2 text-white">
                    Stay in control
                </h1>
                <p class="card-text text-white">
                    Instead of sharing your calendar, just share an
                    <br />
                    invite or your Booking Page.
                    <br />
                    You control who can book, when.
                </p>
                <a class="btn btn-success py-3" asp-controller="Account" asp-action="Signup">
                    Try it free
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <p class="card-text text-center mt-3">
                    <small class="text-white">No credit card required.</small>
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="~/images/Best Meeting Planners Mastering Professional Scheduling (20).png"
                class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>



<div class="card" style=" background-color: #FDF7ED;">
    <div class="row g-0 d-flex  justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title display-2">
                    Easy to create
                </h1>
                <p class="card-text">

                    Create an invite in seconds, send it and get a <br />
                    response in minutes. Booking is as<br />
                    straightforward as it can be.
                </p>
                <a class="btn btn-success py-3" asp-controller="Account" asp-action="Signup">
                    Try it free
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <p class="card-text text-center mt-3">
                    <small class="text-body-secondary">No credit cardrequired.</small>
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="~/images/Best Meeting Planners Mastering Professional Scheduling (6).png"
                class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>

<div class="card" style="background-color: #E6EFED;">
    <div class="row g-0 d-flex  justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title display-3">
                    Set every meeting<br />
                    up for success
                </h1>
                <p class="card-text">
                    Automatic video conferencing links, calendar<br />
                    invites to ali participants, and more. With<br />
                    Doodle, every meeting is ready to kick off just<br />
                    right.
                </p>
                <a class="btn btn-success py-3" asp-controller="Account" asp-action="Signup">
                    Try it free
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <p class="card-text text-center mt-3"><small class="text-body-secondary">No credit card
                        required.</small></p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="~/images/Best Meeting Planners Mastering Professional Scheduling (9).png"
                class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>

<div class="card" style="background-color: #EBF8FF;">
    <div class="row g-0 d-flex justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title display-3">
                    Collaborates with <br />
                    your tools, too
                </h1>
                <p class="card-text">
                    Doodle integrates with your favorite apps. So <br />
                    you can tune up your processes without adding<br />
                    to the overhead.
                </p>
                <a class="btn btn-success py-3" asp-controller="Account" asp-action="Signup">
                    Try it free
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <p class="card-text text-center mt-3"><small class="text-body-secondary">No credit card
                        required.</small></p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="~/images/image1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>

<div class="container text-center mt-5">
    <h1 class="fw-bold">Kick off the next great collaboration <br />
        with Doodle.
    </h1>
    <p class="lead">Get started now</p>
    <a class="btn btn-success py-3" asp-controller="Account" asp-action="Signup">
        Try it free
        <i class="fa-solid fa-arrow-right"></i>
    </a>
    <p class="card-text text-center mt-3"><small class="text-body-secondary">No credit card
            required.</small></p>
</div>
</div>
